.browsecontainergroupthree{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 93%;
    margin-left: 60px;
    padding-top: 50px;
    padding-left: 15%;
    height: 320px;

        }

        .containerthree{
            width: 50%;
            max-width: 960px;
            display: flex;
            .leftone{
                .shoespicseight{
                margin-top: 70px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 200px;
                height: 200px;
                background-image: url(../images/sequinhighheels.jpg);
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                .button-view{
                    background-color: orangered;
                            border-radius: 30px;
                            cursor: pointer;
                            width: 128px;
                            height: 42px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-top: 5px;
                            display: none;
                    
                
                }
                }


                .shoespicseight:hover .button-view{
                    display: flex;
                }

                .button-holder{
                    display: flex;
                    .button{
                        background-color: orangered;
                            border-radius: 30px;
                            cursor: pointer;
                            width: 128px;
                            height: 42px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                    }

                    .buttonone{
                        background-color: orangered;
                        border-radius: 30px;
                        cursor: pointer;
                        width: 128px;
                        height: 42px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
             }
            }
        
            .rightone{
                width: 150px;
                height: 200px;
                margin-top: 70px;
               .titleofpara{
                margin-right: 10px;
                font-size: 30px;
                width: 5%;
                font-family: Cabin-Regular;
                color: darkcyan;
               }
               .paragraphinfo{
                margin-right: 10px;
                font-size: 22px;
                width: 15%;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                color: darkcyan;
               }
            }

            .button-holder .buttonone {
                margin-left: 10px;
            }

        .containerfour{
            width: 50%;
            max-width: 960px;
            display: flex;
            .leftone{
                .shoespicsthree{
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 200px;
                    height: 200px;
                    background-image: url(../images/speckledtennisshoes.jpg);
                    margin-bottom: 20px;
                    margin-top: 70px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .button-view{
                        background-color: orangered;
                                border-radius: 30px;
                                cursor: pointer;
                                width: 128px;
                                height: 42px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin-top: 5px;
                                display: none;
                        
                    
                    }
                    }
    
    
                    .shoespicsthree:hover .button-view{
                       display: flex;
                    }
    
                    .button-holder{
                        display: flex;
                        .button{
                            background-color: orangered;
                                border-radius: 30px;
                                cursor: pointer;
                                width: 128px;
                                height: 42px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                        }
    
                        .buttonone{
                            background-color: orangered;
                            border-radius: 30px;
                            cursor: pointer;
                            width: 128px;
                            height: 42px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
            }
        
            .rightone{
                .titleofpara{
                    padding-left: 10px;
                font-size: 30px;
                width: 5%;
                font-family: Cabin-Regular;
                color: darkcyan;
                   }
                   .paragraphinfo{
                    padding-left: 10px;
                    font-size: 22px;
                    width: 15%;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    color: darkcyan;
                   }
            }
        }
    
    

        @media screen and (max-width: 960px) {
            .containerthree{
                flex-direction: column;
                .leftone{
                    width: 50%;
                    .shoespicseight .button-view{
                        display: flex;
                    }
                   
                    .button-holder{
                        width: 300px;
                        .button{
                           
                        }
                        .buttonone{
                            width: 128px;
                        }
                 
            
                }
            }
          }
        }

        @media screen and (max-width: 960px) {
            .containerfour{
                flex-direction: column;
                .leftone{
                    width: 50%;
                    .shoespicsthree .button-view{
                        display: flex;
                    }
                .button-holder{
                    width: 300px;
                    .button{
                       
                    }
                    .buttonone{
                        width: 128px;
                    }
                }
                 
            
                }
            }
          }
    


      @media screen and (max-width: 960px) {
        .browsecontainergroupthree {
            padding-top: 400px;
            height: 1000px;
            flex-direction: column;
        }
      }